awscli==1.18.24
blis==0.4.1
botocore==1.15.24
catalogue==1.0.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
colorama==0.4.3
conllu==2.3.2
cymem==2.0.3
docutils==0.15.2
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_ner_bc5cdr_md-0.2.4.tar.gz
Flask==1.1.1
idna==2.9
importlib-metadata==1.5.0
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
MarkupSafe==1.1.1
murmurhash==1.0.2
nmslib==2.0.5
numpy==1.18.2
plac==1.1.3
preshed==3.0.2
psutil==5.7.0
pyasn1==0.4.8
pybind11==2.4.3
pysbd==0.2.3
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.23.0
rsa==3.4.2
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
scispacy==0.2.4
six==1.14.0
spacy==2.2.4
srsly==1.0.2
thinc==7.4.0
tqdm==4.43.0
urllib3==1.25.8
wasabi==0.6.0
Werkzeug==1.0.0
zipp==3.1.0
